li {
    list-style-type: none;
}

.iframe-container {
    max-width: 100%;
}

.iframe-container iframe {
    width: 100%;
}

footer {
    background-image: url("../images/footer.jpg");
    padding: 100px 0px;
    color: var(--primary-color);
    font-family: 'Bebas Neue', sans-serif;
}

.quick-links,
.support,
.contact-info,
.subscription {
    padding: 0px 15px 72px;
}

.quick-links h3,
.support h3,
.contact-info h3,
.subscription h3 {
    margin: 0px 0px 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 20px;
}

.footer-container li a {
    font-size: 18px;
    line-height: 1.8;
    font-weight: 200;
    color: var(--primary-color);
}

li {
    margin-bottom: 10px;
}

p .italic {
    font-style: italic;
    font-size: 18px;
}

.contact-info span {
    display: block;
    font-size: 18px;
    line-height: 1.8;
    font-weight: 200;
}

.contact-info p {
    margin-bottom: 16px;
}

.subscription p {
    line-height: 1.8;
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 16px;
}


/* Subscription input */

.footer-newsletter .form-group {
    position: relative;
}

.form-group {
    margin-bottom: 16px;
}

.footer-newsletter .form-control {
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    outline: none;
}

.form-control {
    height: 50px;
    width: 100%;
    font-size: 16px;
    font-style: italic;
}

/* Copyright section */

.copyrights {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.copyrights p {
    padding: 48px 15px 0px;
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-brands {
    margin-bottom: 16px;
    padding: 0px 15px;
    display: block;
}

.footer-brands a {
    color: rgba(255, 255, 255, 0.7);;
    padding: 10px;
}

.copyrights {
    max-width: 510px;
    margin: 0 auto;
}

/* Media Queries */

@media(min-width: 560px) {
    .footer-container {
        max-width: 510px;
        margin: 0 auto;
    }
}


@media(min-width: 760px) {
    footer {
        width: 100%;
    }

    .footer-container {
        display: flex;
        justify-content: center;
        max-width: 720px;
        margin: 0 auto;
    }


    .quick-links,
    .support,
    .contact-info,
    .subscription {
        width: 150px;
        padding: 0px 15px;
        margin-bottom: 72px;
    }

    .contact-info {
        padding-right: 48px;
    }

    li a {
       color: rgba(255, 255, 255, 0.7); 
    }

    .form-control {
        font-size: 14px;
        padding: 6px 12px
    }

    .footer-newsletter button {
        right: 26px;
        top: 21px;
    }

    .copyrights {
        max-width: 720px;
    }
}

@media(min-width: 990px) {
    footer {
        width: 100%;
    }

    .footer-container {
        max-width: 930px;
        margin: 0 auto;
    }

    .quick-links,
    .support,
    .contact-info,
    .subscription {
        width: 210px;
    }

    .copyrights {
        max-width: 960px;
    }
}

@media(min-width: 1200px) {
    footer {
        width: 100%;
    }

    .footer-container {
        max-width: 1110px;
        margin: 0 auto;
    }

    .quick-links,
    .support,
    .contact-info,
    .subscription {
        width: 255px;
    }

    .copyrights {
        max-width: 1140px;
    }
}